<div class="header-style">
    <h1 class="hello">Hrizuk Applications</h1>
    <nav class="nav-default">
        <div>
            <ul>
                {{#link-to 'index' class="test"}}Home{{/link-to}}
                {{#link-to 'about' class="test"}}About{{/link-to}}
                {{#link-to 'project' class="test"}}Projects{{/link-to}}
                {{#link-to 'contact' class="test"}}Contact me{{/link-to}}
            </ul>
        </div>
    </nav>
</div>
{{outlet}}
